[package]
name = "nanos_sdk"
version = "0.2.0"
authors = ["yhql"]
edition = "2021"

[build-dependencies]
cc = "1.0.73"

[dev-dependencies]
# enable the 'speculos' feature when testing
# https://github.com/rust-lang/cargo/issues/2911#issuecomment-749580481
nanos_sdk = { path = ".", features = ["speculos"] } 

testmacro = { git = "https://github.com/yhql/testmacro"} 

[dependencies]
num-traits = { version = "0.2.14", default_features = false }
rand_core = { version = "0.6.3", default_features = false }

[profile.release]
opt-level = 's' 
lto = true

[features]
speculos = []
pre1_54 = []
lib_bagl = []
ccid = []
pending_review_screen = []
