[package]
name = "ledger_secure_sdk_sys"
version = "1.2.0"
authors = ["yhql"]
edition = "2021"
license.workspace = true
repository.workspace = true
description = "Bindings to Ledger C SDK"

[build-dependencies]
bindgen = "0.65.1"
cc = "1.0.73"

[features]
lib_bagl = []
ccid = []
