name: Run cargo clippy, cargo fmt, build and Unit+Integration tests

on:
  push:
    branches:
      master
  pull_request:
  workflow_dispatch:
    inputs:
      name:
        description: 'Manually triggered'

env:
  CARGO_TERM_COLOR: always

jobs:
  clippy:
    name: Run static analysis
    runs-on: ubuntu-latest
    container:
        image: ghcr.io/ledgerhq/ledger-app-builder/ledger-app-dev-tools:latest
    strategy:
      matrix:
        target: ["nanos", "nanox", "nanosplus"]
        package: [include_gif, testmacro, ledger_secure_sdk_sys, ledger_device_sdk]
    steps:
      - name: Clone
        uses: actions/checkout@v4
      - name: Cargo clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: -p ${{ matrix.package }} --target ${{ matrix.target }}
          toolchain: $RUST_NIGHTLY
  
  clippy-cargo-ledger:
    name: Run static analysis for cargo-ledger
    runs-on: ubuntu-latest
    container:
        image: ghcr.io/ledgerhq/ledger-app-builder/ledger-app-dev-tools:latest
    steps:
      - name: Clone
        uses: actions/checkout@v4
      - name: Cargo clippy for cargo-ledger
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: -p cargo-ledger --no-deps
          toolchain: $RUST_STABLE

  format:
    name: Check code formatting
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/ledgerhq/ledger-app-builder/ledger-app-dev-tools:latest
    steps:
      - name: Clone
        uses: actions/checkout@v4
      - name: Run cargo fmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all --check
          toolchain: $RUST_NIGHTLY

  build:
    name: Build SDK
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/ledgerhq/ledger-app-builder/ledger-app-dev-tools:latest
    strategy:
      matrix:
        target: ["nanos", "nanox", "nanosplus"]
    steps:
      - name: Clone
        uses: actions/checkout@v4
      - name: Cargo build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: -p ledger_device_sdk --target ${{ matrix.target }}
          toolchain: $RUST_NIGHTLY

  build-cargo-ledger:
    name: Build SDK
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/ledgerhq/ledger-app-builder/ledger-app-dev-tools:latest
    steps:
      - name: Clone
        uses: actions/checkout@v4
      - name: Cargo build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: -p cargo-ledger
          toolchain: $RUST_STABLE

  test:
    name: Run unit and integration tests
    runs-on: ubuntu-latest
    container:
        image: ghcr.io/ledgerhq/ledger-app-builder/ledger-app-dev-tools:latest
    strategy:
      matrix:
        target: ["nanos", "nanox", "nanosplus"]
    steps:
      - name: Clone
        uses: actions/checkout@v4
      - name: Unit tests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: -p ledger_device_sdk --target ${{ matrix.target }} --features speculos
          toolchain: $RUST_NIGHTLY
