name: Publish to Jfrog and Crates.io

on:
  push:
    branches:
      - master
      - mbr/jfrog  # XXX REMOVE ME AFTER TEST
  workflow_dispatch:  # Allow manual workflow dispatch

jobs:
  deploy_include_gif:
    name: Deploy include_gif
    uses: LedgerHQ/ledger-app-workflows/.github/workflows/reusable_crates_deployment.yml@v1
    permissions:
      id-token: write
      attestations: write
      contents: write
    with:
      package_directory: "include_gif"
      publish: true
      release: false
      jfrog_deployment: true
    secrets:
      cargo_token: ${{ secrets.CARGO_CRATES_TOKEN }}

  deploy_ledger_device_sdk:
    name: Deploy ledger_device_sdk
    uses: LedgerHQ/ledger-app-workflows/.github/workflows/reusable_crates_deployment.yml@v1
    permissions:
      id-token: write
      attestations: write
      contents: write
    with:
      package_directory: "ledger_device_sdk"
      publish: true
      release: false
      jfrog_deployment: true
    secrets:
      cargo_token: ${{ secrets.CARGO_CRATES_TOKEN }}

  deploy_ledger_secure_sdk_sys:
    name: Deploy ledger_secure_sdk_sys
    uses: LedgerHQ/ledger-app-workflows/.github/workflows/reusable_crates_deployment.yml@v1
    permissions:
      id-token: write
      attestations: write
      contents: write
    with:
      package_directory: "ledger_secure_sdk_sys"
      publish: true
      release: false
      jfrog_deployment: true
    secrets:
      cargo_token: ${{ secrets.CARGO_CRATES_TOKEN }}
