name: Rust

on:
  push:
    branches:
      master
  pull_request:
  workflow_dispatch:
    inputs:
      name:
        description: 'Manually triggered'

env:
  CARGO_TERM_COLOR: always

jobs:
  clippy_fmt_test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        target: ["nanos", "nanox", "nanosplus"]

    steps:
      - name: arm-none-eabi-gcc
        uses: fiam/arm-none-eabi-gcc@v1.0.3
        with:
          release: '9-2019-q4'
      - name: Install clang
        run: sudo apt-get update && sudo apt install -y clang
      - name: Install toolchains
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          default: true
          components: rust-src, rustfmt, clippy
      - uses: actions/checkout@v2
      - name: Cargo clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: -Z build-std=core --target ./${{ matrix.target }}.json -- -D warnings
      - name: Cargo fmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check
      - name: Install dependencies
        run: |
          sudo apt-get update && sudo apt-get install -y qemu-user-static
          pip install speculos --extra-index-url https://test.pypi.org/simple/
      - name: Unit tests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --target ./${{ matrix.target }}.json --features speculos
